In [1]:
# import dependencies
import pandas as pd
import numpy as np
import nbconvert
import matplotlib.pyplot as plt
import scipy.stats as stats
from scipy.stats import ks_2samp

In [2]:
# read csv
filename = "C:/Users/sanch/Desktop/Leigh class folder/BigData/vine_table.csv"
vine_table = pd.read_csv(filename)

In [3]:
vine_table.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RTIS3L2M1F5SM,5,0,0,N,Y
1,R1ZV7R40OLHKD,5,0,0,N,Y
2,R3BH071QLH8QMC,1,0,1,N,Y
3,R127K9NTSXA2YH,3,0,0,N,Y
4,R32ZWUXDJPW27Q,4,0,0,N,Y

In [4]:
# filter 20 or more vote count
vine_df = vine_table[vine_table.total_votes >= 20]
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
289,R3EZ0EPYLDA34S,1,14,31,N,Y
483,R2FJ94555FZH32,2,55,60,N,N

In [5]:
# filter products/ 50% helpful
helpful = vine_df[(vine_df.helpful_votes/vine_df.total_votes) >= 0.5]

In [10]:
# filter paid/unpaid vine users
paid = helpful[helpful.vine == 'Y']
unpaid = helpful[helpful.vine == 'N']

paid.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
32605,R3KKUSGFZWSUIY,5,56,63,Y,N
33106,R10FO5UKKVZBK2,3,23,23,Y,N
69661,RM4KSGEOR7MU1,5,19,24,Y,N
155323,RG7VRMYLEXD23,4,22,26,Y,N
239274,R11O4YSCPSNL6L,3,20,26,Y,N

In [7]:
# num of reviews, 5-stars, and % of 5-stars for paid/unpaid
def calculate_reviews(df, rating=5, helpful='helpful'):
    total = df.review_id.count()
    fives = df.star_rating[df.star_rating == rating].count()
    percent = fives/total * 100
    
    if df.iloc[0,4] == "N":
        payment = "unpaid"
    else:
        payment = "paid vine"

    return (f'Out of {total:,} reviews, there were {fives:,} {rating}-star reviews. The percent of {helpful} {rating}-star reviews by {payment} users was {percent:.2f}%')

In [8]:
# display paid
calculate_reviews(paid)

'Out of 94 reviews, there were 48 5-star reviews. The percent of helpful 5-star reviews by paid vine users was 51.06%'

In [9]:
# display unpaid
calculate_reviews(unpaid)

'Out of 40,471 reviews, there were 15,663 5-star reviews. The percent of helpful 5-star reviews by unpaid users was 38.70%'